.panel {
  height: 91vh;

  background: white;

  border-left: 1px solid #e5e7eb;

  overflow: hidden;

  transition: all 0.3s ease;

  overflow-y: auto;
}

.open {
  width: 320px;

  opacity: 1;
}


.closed {
  width: 0;

  opacity: 0;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #a1b6fc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #718eb7;
}