/* DocumentsPage.module.css */

.page {
  margin: 80px 0 0 20px;
  width: 95%;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.uploadBtn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}