.container {
  display: flex;

  height: 91vh;

  background: linear-gradient(
    180deg,
    #f8fafc 0%,
    #f1f5f9 100%
  );
}

.messageSection {
  flex: 1;

  display: flex;

  flex-direction: column;

  min-width: 0;
}